.reset.backup
[{"id":"42a82516.5d6a1c","type":"tab","label":"Flow 1"},{"id":"bc0eff5a.d5815","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eeeae550.e26d48","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7432bea5.8f5c6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"db288527.7834f8","type":"ui_group","z":"","name":"Lamp","tab":"81629036.7d272","order":1,"disp":true,"width":"6"},{"id":"6ecdd3f6.36fa8c","type":"homekit-accessory","z":"","accessoryName":"pioneer","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"57cdd26f.b796fc","type":"ui_group","z":"","name":"Default","tab":"81629036.7d272","disp":true,"width":"6"},{"id":"dcf497e8.d2eb38","type":"homekit-accessory","z":"","accessoryName":"speaker","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"83119788.e1db58","type":"ui_group","z":"","name":"Pioneer","tab":"81629036.7d272","disp":true,"width":"6"},{"id":"81629036.7d272","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"a102dac1.0895f8","type":"ui_group","z":"","name":"pioneer","tab":"81629036.7d272","order":1,"disp":true,"width":"6"},{"id":"eb589e6b.b0294","type":"homekit-accessory","z":"","accessoryName":"j j","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"9b56a8d7.6a3828","type":"homekit-accessory","z":"","accessoryName":"heat","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"2addf9b.ccefb06","type":"homekit-accessory","z":"","accessoryName":"cccc","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"769f4bee.8fc294","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"774452f1.0ac06c","type":"ui_group","z":"","name":"Lamp","tab":"91fa52a0.51a58","order":1,"disp":true,"width":"6"},{"id":"f23c094d.de5e58","type":"homekit-accessory","z":"","accessoryName":"pioneer","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"655f0e55.d1209","type":"ui_group","z":"","name":"Default","tab":"91fa52a0.51a58","disp":true,"width":"6"},{"id":"49bb4cea.6bc7f4","type":"homekit-accessory","z":"","accessoryName":"speaker","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"f51ce99.a290f18","type":"ui_group","z":"","name":"Pioneer","tab":"91fa52a0.51a58","disp":true,"width":"6"},{"id":"91fa52a0.51a58","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"521ae4db.6fe5ec","type":"ui_group","z":"","name":"pioneer","tab":"91fa52a0.51a58","order":1,"disp":true,"width":"6"},{"id":"8bfd53d4.23067","type":"homekit-accessory","z":"","accessoryName":"j j","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"b3d02cf9.c2614","type":"homekit-accessory","z":"","accessoryName":"heat","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"f9695b24.98cf18","type":"homekit-accessory","z":"","accessoryName":"cccc","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"df3a8ab3.34cbe8","type":"mqtt out","z":"42a82516.5d6a1c","name":"","topic":"ir_server/send","qos":"0","retain":"","broker":"769f4bee.8fc294","x":800,"y":440,"wires":[]},{"id":"e91db00d.1368b","type":"mqtt in","z":"42a82516.5d6a1c","name":"status","topic":"ir_server/sent","qos":"0","broker":"769f4bee.8fc294","x":330,"y":260,"wires":[["eb8f2c7c.28a25"]]},{"id":"eb8f2c7c.28a25","type":"debug","z":"42a82516.5d6a1c","name":"","active":true,"console":"true","complete":"payload","x":800,"y":260,"wires":[]},{"id":"11417bde.1082f4","type":"function","z":"42a82516.5d6a1c","name":"ios_switch","func":"msg.topic = \"ir_server/send\"\nif(msg.payload.On === true){\n    msg.payload = \n    \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}else if(msg.payload.On === false){\n    msg.payload = \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["eb8f2c7c.28a25","df3a8ab3.34cbe8"]]},{"id":"da13762a.50f6e8","type":"ui_button","z":"42a82516.5d6a1c","name":"volume up","group":"f51ce99.a290f18","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"1,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,67,22,67,22,1753","payloadType":"str","topic":"","x":390,"y":160,"wires":[["df3a8ab3.34cbe8"]]},{"id":"7b8fb7f1.493848","type":"rpi-gpio out","z":"42a82516.5d6a1c","name":"led","pin":"7","set":false,"level":"0","freq":"1000","out":"pwm","x":967,"y":696,"wires":[]},{"id":"b0a2218a.2a2c6","type":"ui_slider","z":"42a82516.5d6a1c","name":"","label":"slider","group":"774452f1.0ac06c","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":641,"y":676,"wires":[["7b8fb7f1.493848"]]}]