flows_raspberrypi.json
[{"id":"3f158621.606c4a","type":"tab","label":"Flow 1"},{"id":"6241673b.9f82c8","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"17b04752.807e69","type":"tab","label":"Flow 2"},{"id":"cd78638f.183a9","type":"tab","label":"Flow 3"},{"id":"5a320cbd.943ed4","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fcde699c.3b0438","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"home","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7ef3397f.b6e708","type":"ui_group","z":"","name":"dim update","tab":"85181ec5.42699","order":1,"disp":true,"width":"6"},{"id":"9690b4c4.7a0a08","type":"ui_group","z":"","name":"Default","tab":"85181ec5.42699","disp":true,"width":"6"},{"id":"1d5a791a.e5b4c7","type":"ui_group","z":"","name":"Pioneer","tab":"85181ec5.42699","disp":true,"width":"6"},{"id":"85181ec5.42699","type":"ui_tab","z":"","name":"test","icon":"dashboard","order":1},{"id":"94516020.4971e","type":"ui_group","z":"","name":"Keuken","tab":"85181ec5.42699","disp":true,"width":"6","collapse":false},{"id":"2cc8a081.629b5","type":"websocket-client","z":"","path":"ws://192.168.2.220:8080","wholemsg":"true"},{"id":"e76bef92.48d65","type":"homekit-accessory","z":0,"accessoryName":"Lamp","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"217bc751.eca908","type":"homekit-accessory","z":0,"accessoryName":"lamp","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"ba5ea845.0c1ac8","type":"homekit-accessory","z":"","accessoryName":"switch_light","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"1234","accessoryType":"1"},{"id":"37932f7f.a2f01","type":"mqtt out","z":"3f158621.606c4a","name":"","topic":"ir_server/send","qos":"0","retain":"","broker":"5a320cbd.943ed4","x":957.0000228881836,"y":262.0000171661377,"wires":[]},{"id":"8ac00772.c61868","type":"mqtt in","z":"3f158621.606c4a","name":"status","topic":"ir_server/sent","qos":"0","broker":"5a320cbd.943ed4","x":472.00000762939453,"y":614.0000076293945,"wires":[["417bbbf1.6e36e4"]]},{"id":"321f698b.953c66","type":"ui_switch","z":"3f158621.606c4a","name":"hrt","label":"on/off","group":"9690b4c4.7a0a08","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"send","style":"","onvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","onvalueType":"str","onicon":"","oncolor":"","offvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","offvalueType":"str","officon":"","offcolor":"","x":461.0000171661377,"y":723.0000219345093,"wires":[[]]},{"id":"417bbbf1.6e36e4","type":"debug","z":"3f158621.606c4a","name":"","active":true,"console":"true","complete":"payload","x":851.0000228881836,"y":451.0000171661377,"wires":[]},{"id":"4a33f673.26b388","type":"function","z":"3f158621.606c4a","name":"ios_switch","func":"msg.topic = \"ir_server/send\"\nif(msg.payload.On === true){\n    msg.payload = \n    \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}else if(msg.payload.On === false){\n    msg.payload = \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":530.0000610351562,"y":355.0000104904175,"wires":[["417bbbf1.6e36e4","37932f7f.a2f01"]]},{"id":"71b0e8ef.610a08","type":"schedex","z":"3f158621.606c4a","name":"test","suspended":true,"lat":"51","lon":"+4","ontime":"21:50","ontopic":"","onpayload":"true","onoffset":0,"onrandomoffset":0,"offtime":"20:59","offtopic":"","offpayload":"false","offoffset":"","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":500,"wires":[[]]},{"id":"91f5fc83.83797","type":"function","z":"3f158621.606c4a","name":"","func":"node.log(\"incoming: \" + msg.payload);\nif(msg.payload == \"true\"){\n    msg.payload = {On: true};\n}else if(msg.payload == \"false\"){\n    msg.payload = {On: false};\n}else msg.payload = {On: \"damn \"};\nnode.log(\"frm func: \" + msg.payload.On);\nnode.error(\"Error\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":143.00000762939453,"y":239.00001335144043,"wires":[[]]},{"id":"45978f53.8d0e1","type":"ui_button","z":"3f158621.606c4a","name":"volume up","group":"1d5a791a.e5b4c7","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"1,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,67,22,67,22,1753","payloadType":"str","topic":"","x":499.0000648498535,"y":177.000018119812,"wires":[["37932f7f.a2f01"]]},{"id":"856abe81.d0611","type":"function","z":"3f158621.606c4a","name":"","func":"msg.event = \"testrequest\";\nmsg.payload = {\"value1\": \"test\", \"value2\": \"test2\"};\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":68,"wires":[[]]},{"id":"ce9fbedb.8fc1","type":"rpi-gpio out","z":"3f158621.606c4a","name":"led","pin":"7","set":false,"level":"0","freq":"1000","out":"pwm","x":967,"y":696,"wires":[]},{"id":"2d52b414.5ecd2c","type":"ui_slider","z":"3f158621.606c4a","name":"","label":"slider","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":641,"y":676,"wires":[["ce9fbedb.8fc1"]]},{"id":"ccd60f43.e4c69","type":"ui_switch","z":"3f158621.606c4a","name":"","label":"pioneer","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","onvalueType":"str","onicon":"","oncolor":"","offvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","offvalueType":"str","officon":"","offcolor":"","x":499.9444580078125,"y":265.66672801971436,"wires":[["37932f7f.a2f01","417bbbf1.6e36e4"]]},{"id":"73dbe016.d5cb1","type":"websocket out","z":"17b04752.807e69","name":"server","server":"","client":"2cc8a081.629b5","x":1461.5714168548584,"y":245.57149124145508,"wires":[]},{"id":"dd0ce463.63cb18","type":"websocket in","z":"17b04752.807e69","name":"","server":"","client":"2cc8a081.629b5","x":274.2222137451172,"y":273.77777671813965,"wires":[["dbd435.b053cbc8"]]},{"id":"3f33659e.43291a","type":"ui_switch","z":"17b04752.807e69","name":"home","label":"switch 1","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1002.2222137451172,"y":133.3333444595337,"wires":[["73dbe016.d5cb1","ca6866fd.c212c8"]]},{"id":"ca6866fd.c212c8","type":"debug","z":"17b04752.807e69","name":"","active":true,"console":"false","complete":"true","x":1500.274658203125,"y":96.5142822265625,"wires":[]},{"id":"dbd435.b053cbc8","type":"switch","z":"17b04752.807e69","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"false","outputs":4,"x":613.0364303588867,"y":267.7873315811157,"wires":[["3f33659e.43291a","2eba1afc.462c96","ce79da99.1b49f8"],["5ac2b50b.a78cdc"],["c58b2e2a.93c2f"],["2e4fe9d5.aa4d36"]]},{"id":"5c7c916f.4b068","type":"ui_slider","z":"17b04752.807e69","name":"spots","label":"slider 101","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"topic":"101","min":0,"max":"100","step":1,"x":995.222225189209,"y":452.11111640930176,"wires":[["89af1cde.84f26"]]},{"id":"2eba1afc.462c96","type":"debug","z":"17b04752.807e69","name":"","active":true,"console":"false","complete":"false","x":699.4920654296875,"y":58.80950927734375,"wires":[]},{"id":"5b99a157.68625","type":"websocket out","z":"17b04752.807e69","name":"","server":"","client":"2cc8a081.629b5","x":1545.5713806152344,"y":475.0159282684326,"wires":[]},{"id":"c18ca93b.18cf58","type":"websocket in","z":"17b04752.807e69","name":"","server":"","client":"2cc8a081.629b5","x":271.42856216430664,"y":439.71427822113037,"wires":[["a89bcc4f.89783"]]},{"id":"a89bcc4f.89783","type":"switch","z":"17b04752.807e69","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"101","vt":"num"},{"t":"eq","v":"102","vt":"str"},{"t":"eq","v":"104","vt":"str"},{"t":"eq","v":"temp1","vt":"str"}],"checkall":"false","outputs":4,"x":624.4920539855957,"y":457.6984119415283,"wires":[["5c7c916f.4b068"],["311a965a.860b0a"],["b8a7694a.f8c9a8"],[]]},{"id":"89af1cde.84f26","type":"trigger","z":"17b04752.807e69","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","name":"","x":1309.5078048706055,"y":479.3809509277344,"wires":[["5b99a157.68625"]]},{"id":"46d40091.49709","type":"ui_text","z":"6241673b.9f82c8","group":"94516020.4971e","order":0,"width":0,"height":0,"name":"","label":"temperatuur","format":"{{msg.payload}}","layout":"row-spread","x":705.0000190734863,"y":252,"wires":[]},{"id":"5750d207.0c5e5c","type":"ui_numeric","z":"6241673b.9f82c8","name":"","label":"numeric","group":"94516020.4971e","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"30","step":"0.5","x":251,"y":243.59995365142822,"wires":[["cbb7eb75.d63be8"]]},{"id":"cbb7eb75.d63be8","type":"function","z":"6241673b.9f82c8","name":"","func":"node.log(msg.value + \"° C\");\n\nmsg.payload = msg.payload + \"° C\"\nreturn msg;","outputs":1,"noerr":0,"x":492.0000419616699,"y":256.5999698638916,"wires":[["46d40091.49709"]]},{"id":"5ac2b50b.a78cdc","type":"ui_switch","z":"17b04752.807e69","name":"","label":"switch 2","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1006.6666666666666,"y":220,"wires":[["73dbe016.d5cb1"]]},{"id":"c58b2e2a.93c2f","type":"ui_switch","z":"17b04752.807e69","name":"","label":"switch 3","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1006.6666946411133,"y":306.6666650772095,"wires":[["73dbe016.d5cb1"]]},{"id":"311a965a.860b0a","type":"ui_slider","z":"17b04752.807e69","name":"","label":"slider 102","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"topic":"102","min":0,"max":"100","step":1,"x":997.7777290344238,"y":508.88890266418457,"wires":[["89af1cde.84f26"]]},{"id":"b8a7694a.f8c9a8","type":"ui_slider","z":"17b04752.807e69","name":"","label":"slider 104","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"topic":"104","min":0,"max":"100","step":1,"x":994.4444580078125,"y":585.5555105209351,"wires":[["89af1cde.84f26"]]},{"id":"2e4fe9d5.aa4d36","type":"ui_switch","z":"17b04752.807e69","name":"","label":"switch 4","group":"7ef3397f.b6e708","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"4","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1017.7777777777777,"y":368.88888888888886,"wires":[["73dbe016.d5cb1"]]},{"id":"46c53558.47611c","type":"ui_template","z":"17b04752.807e69","group":"7ef3397f.b6e708","name":"","order":0,"width":0,"height":0,"format":"<meta \n     name='viewport' \n     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' \n/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":278,"y":113,"wires":[[]]},{"id":"c77b253e.d95238","type":"ui_template","z":"17b04752.807e69","group":"7ef3397f.b6e708","name":"","order":0,"width":0,"height":0,"format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#333333\" ng-click=\"send({payload: msg.payload })\">\n\n\n<svg  width=\"260px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n\n  <rect fill=\"#333333\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n\n  <rect fill=\"#333333\" x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n\n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{(msg.payload||0)? \" OPEN \" : \"CLOSED\"}} </text>\n    </g>\n  </g>\n</svg>\n\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":305,"y":665,"wires":[[]]},{"id":"b61471b7.0687f","type":"inject","z":"17b04752.807e69","name":"MakeDimmable","topic":"","payload":"{\"Brightness\":80}","payloadType":"json","repeat":"","crontab":"","once":true,"x":461,"y":878,"wires":[[]]},{"id":"f28a8d5c.1e4d4","type":"homekit-service","z":"17b04752.807e69","accessory":"ba5ea845.0c1ac8","name":"lamp keuken","serviceName":"Lightbulb","x":1017,"y":72,"wires":[["fca74af1.8fb0c8","ca6866fd.c212c8"]]},{"id":"ce79da99.1b49f8","type":"function","z":"17b04752.807e69","name":"","func":"node.log(\"incoming: \" + msg.payload);\nif(msg.payload == \"true\"){\n    msg.payload = {On: true};\n}else if(msg.payload == \"false\"){\n    msg.payload = {On: false};\n}else msg.payload = {On: \"damn \"};\nnode.log(\"frm func: \" + msg.payload.On);\nnode.error(\"Error\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":758,"y":108,"wires":[["f28a8d5c.1e4d4"]]},{"id":"fca74af1.8fb0c8","type":"function","z":"17b04752.807e69","name":"","func":"node.log(\"incoming: \" + msg.payload);\n\n\n\nmsg.topic = \"1\"\nif(msg.payload.On === true){\n    msg.payload = true\n    \n}else if(msg.payload.On === false){\n    msg.payload = false\n}\nreturn msg;","outputs":1,"noerr":0,"x":1289,"y":149,"wires":[["73dbe016.d5cb1","ca6866fd.c212c8"]]}]