start
[{"id":"6029b78e.661548","type":"tab","label":"Flow 1"},{"id":"c1b23214.46e95","type":"tab","label":"Flow 1"},{"id":"42a82516.5d6a1c","type":"tab","label":"Flow 1"},{"id":"bc0eff5a.d5815","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eeeae550.e26d48","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7432bea5.8f5c6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"db288527.7834f8","type":"ui_group","z":"","name":"Lamp","tab":"81629036.7d272","order":1,"disp":true,"width":"6"},{"id":"6ecdd3f6.36fa8c","type":"homekit-accessory","z":"","accessoryName":"pioneer","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"57cdd26f.b796fc","type":"ui_group","z":"","name":"Default","tab":"81629036.7d272","disp":true,"width":"6"},{"id":"dcf497e8.d2eb38","type":"homekit-accessory","z":"","accessoryName":"speaker","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"83119788.e1db58","type":"ui_group","z":"","name":"Pioneer","tab":"81629036.7d272","disp":true,"width":"6"},{"id":"81629036.7d272","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"a102dac1.0895f8","type":"ui_group","z":"","name":"pioneer","tab":"81629036.7d272","order":1,"disp":true,"width":"6"},{"id":"eb589e6b.b0294","type":"homekit-accessory","z":"","accessoryName":"j j","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"9b56a8d7.6a3828","type":"homekit-accessory","z":"","accessoryName":"heat","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"2addf9b.ccefb06","type":"homekit-accessory","z":"","accessoryName":"cccc","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"769f4bee.8fc294","type":"mqtt-broker","z":"","broker":"192.168.2.220","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c6e6ea01.585bd8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"774452f1.0ac06c","type":"ui_group","z":"","name":"Lamp","tab":"91fa52a0.51a58","order":1,"disp":true,"width":"6"},{"id":"f23c094d.de5e58","type":"homekit-accessory","z":"","accessoryName":"pioneer","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"655f0e55.d1209","type":"ui_group","z":"","name":"Default","tab":"91fa52a0.51a58","disp":true,"width":"6"},{"id":"49bb4cea.6bc7f4","type":"homekit-accessory","z":"","accessoryName":"speaker","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"f51ce99.a290f18","type":"ui_group","z":"","name":"Pioneer","tab":"91fa52a0.51a58","disp":true,"width":"6"},{"id":"91fa52a0.51a58","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"521ae4db.6fe5ec","type":"ui_group","z":"","name":"pioneer","tab":"91fa52a0.51a58","order":1,"disp":true,"width":"6"},{"id":"8bfd53d4.23067","type":"homekit-accessory","z":"","accessoryName":"j j","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"b3d02cf9.c2614","type":"homekit-accessory","z":"","accessoryName":"heat","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"f9695b24.98cf18","type":"homekit-accessory","z":"","accessoryName":"cccc","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"1"},{"id":"8d1187aa.a5c878","type":"mqtt out","z":"c1b23214.46e95","name":"","topic":"ir_server/send","qos":"0","retain":"","broker":"eeeae550.e26d48","x":800,"y":440,"wires":[]},{"id":"4645dc54.f58804","type":"mqtt in","z":"c1b23214.46e95","name":"status","topic":"ir_server/sent","qos":"0","broker":"eeeae550.e26d48","x":330,"y":260,"wires":[["77a3699e.6a30f8"]]},{"id":"3f43c8de.8f8c08","type":"ui_switch","z":"c1b23214.46e95","name":"hrt","label":"on/off","group":"57cdd26f.b796fc","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"send","style":"","onvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","onvalueType":"str","onicon":"","oncolor":"","offvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","offvalueType":"str","officon":"","offcolor":"","x":610,"y":740,"wires":[[]]},{"id":"e37e3523.1a6438","type":"homekit-service","z":"c1b23214.46e95","accessory":"6ecdd3f6.36fa8c","name":"audio","serviceName":"Switch","x":450,"y":440,"wires":[["c0b6ef5.575f01","77a3699e.6a30f8"]]},{"id":"77a3699e.6a30f8","type":"debug","z":"c1b23214.46e95","name":"","active":true,"console":"true","complete":"payload","x":800,"y":260,"wires":[]},{"id":"c0b6ef5.575f01","type":"function","z":"c1b23214.46e95","name":"ios_switch","func":"msg.topic = \"ir_server/send\"\nif(msg.payload.On === true){\n    msg.payload = \n    \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}else if(msg.payload.On === false){\n    msg.payload = \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["77a3699e.6a30f8","8d1187aa.a5c878"]]},{"id":"f9cebcd0.55307","type":"schedex","z":"c1b23214.46e95","name":"","suspended":false,"lat":"51.0259","lon":"3.43","ontime":"06:45","ontopic":"","onpayload":"true","onoffset":0,"onrandomoffset":0,"offtime":"07:00","offtopic":"","offpayload":"false","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":70,"y":360,"wires":[[]]},{"id":"4a75bb31.59b004","type":"schedex","z":"c1b23214.46e95","name":"test","suspended":true,"lat":"51","lon":"+4","ontime":"21:50","ontopic":"","onpayload":"true","onoffset":0,"onrandomoffset":0,"offtime":"20:59","offtopic":"","offpayload":"false","offoffset":"","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":500,"wires":[[]]},{"id":"76961e4b.e7865","type":"function","z":"c1b23214.46e95","name":"","func":"node.log(\"incoming: \" + msg.payload);\nif(msg.payload == \"true\"){\n    msg.payload = {On: true};\n}else if(msg.payload == \"false\"){\n    msg.payload = {On: false};\n}else msg.payload = {On: \"damn \"};\nnode.log(\"frm func: \" + msg.payload.On);\nnode.error(\"Error\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["e37e3523.1a6438"]]},{"id":"c36146a6.307ec8","type":"ui_button","z":"c1b23214.46e95","name":"volume up","group":"83119788.e1db58","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"1,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,67,22,67,22,1753","payloadType":"str","topic":"","x":390,"y":160,"wires":[["8d1187aa.a5c878"]]},{"id":"a42640a7.e962e","type":"homekit-service","z":"c1b23214.46e95","accessory":"eb589e6b.b0294","name":",hvi","serviceName":"Lightbulb","x":537,"y":601,"wires":[[]]},{"id":"88e79950.8fcb98","type":"homekit-service","z":"c1b23214.46e95","accessory":"9b56a8d7.6a3828","name":"hc","serviceName":"HeaterCooler","x":794,"y":581,"wires":[[]]},{"id":"cf93dfe4.2e805","type":"homekit-service","z":"c1b23214.46e95","accessory":"2addf9b.ccefb06","name":"te","serviceName":"Thermostat","x":180,"y":728,"wires":[[]]},{"id":"5c957b53.7c9494","type":"http request","z":"c1b23214.46e95","name":"","method":"POST","ret":"txt","url":"","tls":"","x":610,"y":60,"wires":[[]]},{"id":"d1e90783.913918","type":"function","z":"c1b23214.46e95","name":"","func":"msg.event = \"testrequest\";\nmsg.payload = {\"value1\": \"test\", \"value2\": \"test2\"};\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":68,"wires":[[]]},{"id":"6ee3a3fc.bb79bc","type":"rpi-gpio out","z":"c1b23214.46e95","name":"led","pin":"7","set":false,"level":"0","freq":"1000","out":"pwm","x":967,"y":696,"wires":[]},{"id":"3b310d39.d6a852","type":"ui_slider","z":"c1b23214.46e95","name":"","label":"slider","group":"db288527.7834f8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":641,"y":676,"wires":[["6ee3a3fc.bb79bc"]]},{"id":"df3a8ab3.34cbe8","type":"mqtt out","z":"42a82516.5d6a1c","name":"","topic":"ir_server/send","qos":"0","retain":"","broker":"769f4bee.8fc294","x":800,"y":440,"wires":[]},{"id":"e91db00d.1368b","type":"mqtt in","z":"42a82516.5d6a1c","name":"status","topic":"ir_server/sent","qos":"0","broker":"769f4bee.8fc294","x":330,"y":260,"wires":[["eb8f2c7c.28a25"]]},{"id":"d61c5b90.5d03c8","type":"ui_switch","z":"42a82516.5d6a1c","name":"hrt","label":"on/off","group":"655f0e55.d1209","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"send","style":"","onvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","onvalueType":"str","onicon":"","oncolor":"","offvalue":"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753","offvalueType":"str","officon":"","offcolor":"","x":610,"y":740,"wires":[[]]},{"id":"79711b2.77d2ee4","type":"homekit-service","z":"42a82516.5d6a1c","accessory":"f23c094d.de5e58","name":"audio","serviceName":"Switch","x":450,"y":440,"wires":[["11417bde.1082f4","eb8f2c7c.28a25"]]},{"id":"eb8f2c7c.28a25","type":"debug","z":"42a82516.5d6a1c","name":"","active":true,"console":"true","complete":"payload","x":800,"y":260,"wires":[]},{"id":"11417bde.1082f4","type":"function","z":"42a82516.5d6a1c","name":"ios_switch","func":"msg.topic = \"ir_server/send\"\nif(msg.payload.On === true){\n    msg.payload = \n    \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}else if(msg.payload.On === false){\n    msg.payload = \"31,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,67,22,22,22,22,22,22,22,22,22,22,22,67,22,22,22,22,22,67,22,67,22,67,22,1753\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["eb8f2c7c.28a25","df3a8ab3.34cbe8"]]},{"id":"489ce653.c3d038","type":"schedex","z":"42a82516.5d6a1c","name":"","suspended":false,"lat":"51.0259","lon":"3.43","ontime":"06:45","ontopic":"","onpayload":"true","onoffset":0,"onrandomoffset":0,"offtime":"07:00","offtopic":"","offpayload":"false","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":70,"y":360,"wires":[[]]},{"id":"e03bc563.850bc8","type":"schedex","z":"42a82516.5d6a1c","name":"test","suspended":true,"lat":"51","lon":"+4","ontime":"21:50","ontopic":"","onpayload":"true","onoffset":0,"onrandomoffset":0,"offtime":"20:59","offtopic":"","offpayload":"false","offoffset":"","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":110,"y":500,"wires":[[]]},{"id":"98ae35d4.618e98","type":"function","z":"42a82516.5d6a1c","name":"","func":"node.log(\"incoming: \" + msg.payload);\nif(msg.payload == \"true\"){\n    msg.payload = {On: true};\n}else if(msg.payload == \"false\"){\n    msg.payload = {On: false};\n}else msg.payload = {On: \"damn \"};\nnode.log(\"frm func: \" + msg.payload.On);\nnode.error(\"Error\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["79711b2.77d2ee4"]]},{"id":"da13762a.50f6e8","type":"ui_button","z":"42a82516.5d6a1c","name":"volume up","group":"f51ce99.a290f18","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"1,40000,1,1,360,180,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,22,22,67,22,22,22,22,22,67,22,22,22,67,22,22,22,22,22,22,22,22,22,67,22,22,22,67,22,22,22,67,22,67,22,67,22,67,22,1753","payloadType":"str","topic":"","x":390,"y":160,"wires":[["df3a8ab3.34cbe8"]]},{"id":"b5ed7905.e9d518","type":"homekit-service","z":"42a82516.5d6a1c","accessory":"8bfd53d4.23067","name":",hvi","serviceName":"Lightbulb","x":537,"y":601,"wires":[[]]},{"id":"4a365260.4d62dc","type":"homekit-service","z":"42a82516.5d6a1c","accessory":"b3d02cf9.c2614","name":"hc","serviceName":"HeaterCooler","x":794,"y":581,"wires":[[]]},{"id":"3de084cf.f66d7c","type":"homekit-service","z":"42a82516.5d6a1c","accessory":"f9695b24.98cf18","name":"te","serviceName":"Thermostat","x":180,"y":728,"wires":[[]]},{"id":"61548ae1.5462a4","type":"http request","z":"42a82516.5d6a1c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":610,"y":60,"wires":[[]]},{"id":"d0fc6b34.4ea398","type":"function","z":"42a82516.5d6a1c","name":"","func":"msg.event = \"testrequest\";\nmsg.payload = {\"value1\": \"test\", \"value2\": \"test2\"};\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":68,"wires":[[]]},{"id":"7b8fb7f1.493848","type":"rpi-gpio out","z":"42a82516.5d6a1c","name":"led","pin":"7","set":false,"level":"0","freq":"1000","out":"pwm","x":967,"y":696,"wires":[]},{"id":"b0a2218a.2a2c6","type":"ui_slider","z":"42a82516.5d6a1c","name":"","label":"slider","group":"774452f1.0ac06c","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":641,"y":676,"wires":[["7b8fb7f1.493848"]]}]